* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*comportamento de rolagem suave.*/
    font-size: 10px;
    font-family: "poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #eff0f1;
}

.conteudo {
    display: flex;
    justify-content: space-evenly;
    margin: 130px 10px;
    width: 100%;
    max-width: 2000px;
    gap: 40px;
}

.descricao-visao-mobile {
    display: none;
}

.secao-carro {
    height: 510px;
    width: 50%;
}

.imagem-carro {
    height: 100%;
    max-height: 35vw;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 3.6rem 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.imagem-carro img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.30s;
}

.imagem-carro img:hover {
    transform: scale(1.1);
}

.definicoes-carro {
    width: 40%;
}

.descricao-visao-web {
    display: block;
}

.titulo {
    color: #cc0033;
}

.subtitulo {
    color: #313639;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.descricao {
    color: #383c3e;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 4.4rem;
}

.cores {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.cores h3 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

.paletas-de-cores {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-bottom: 4rem;
}

.paletas-de-cores li {
    list-style: none;
}

.paletas-de-cores li span {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: transform 0.24s;
}

.paletas-de-cores li span:hover {
    transform: scale(1.1);
}

.br {
    background: #efefef;
}

.pt {
    background: #000;
}

.vm {
    background: #cc0033;
}

.am {
    background: #ffcc00;
}

.rodas {
    display: flex;
    flex-direction: column;
}

.rodas h3 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

.colecao-de-rodas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.r1 {
    background-position: 0px 75%;
}

.r2 {
    background-position: 0px 87.5%;
}

.r3 {
    background-position: 0px 0%;
}

.r4 {
    background-position: 0px 100%;
}

.colecao-de-rodas li {
    max-width: 9.5rem;
    list-style: none;
}

.colecao-de-rodas li span {
    background-image: url(./assets/rodas.jpeg);
    display: block;
    width: 96px;
    height: 100%;
    padding-top: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.colecao-de-rodas li span:hover {
    transform: scale(1.15);
}

.fale-conosco {
    position: fixed;
    bottom: 4.0rem;
    right: 3.0rem;
    transition: all .3s ease-in-out;
}

.fale-conosco img {
    width: 6.0rem;
    height: 6.0rem;
}

.fale-conosco:hover {
    transform: scale(1.3);
}

@media (min-width: 901px) {
    .colecao-de-rodas {
        flex-wrap: nowrap;
        gap: 12px;
    }
    .fale-conosco {
        bottom: 1rem;
        right: 1.5rem;
    }

    .selecionado {
        transform: scale(1.15);
    }
        
}

@media (max-width: 900px) {
    .conteudo {
        flex-direction: column;
    }
    .descricao-visao-mobile {
        display: block;
        padding: 1rem;
        
    }

    .descricao-visao-web {
        display: none;
    }

    .secao-carro {
        width: 100%;
        height: 70vw;
    }

    .imagem-carro {
        max-height: 70vw;

    }

    .definicoes-carro {
        width: 100%;
        padding: 1.5rem;
    }

    .descricao {
        margin: 0;
    }
    .fale-conosco {
        bottom: 1rem;
        right: 1.5rem;
    }
    
}


@media (max-width: 600px) {
    .conteudo {
        margin: 110px 10px;
    }
    .descricao-visao-mobile {
        padding: 1rem;
    }
    .paletas-de-cores li span {
        width: 40px;
        height: 40px;
    }
    .colecao-de-rodas li span {
        width: 69px;
        background-size: 100%;
    }
    .fale-conosco {
        bottom: 1rem;
        right: 1.5rem;
    }
    .fale-conosco img {
        width: 4.5rem;
        height: 4.5rem;
    }
    
} 



